/*importing the font in 3 diff sizes from google font*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*inserting background colors in a root so its easy to access later on */
:root { 
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/*changing the background color, font and layout of the whole page*/
body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Pale-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);
    margin: 0 1.5rem;
}

button {
   font-family: 'Red Hat Display', sans-serif;
}

h1 {
    color: var(--Dark-blue);
}

p{
    font-size: 14px;
    color: var(--Desaturated-blue);
   
}

main {
    max-width: 355px;
}

main h1 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main article img {
    border-radius: 1rem 1rem 0 0;
}

main article:last-child {
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    padding: 1.5rem;
    margin-top: -1rem;
    text-align: center;
}

main p {
    margin-bottom: 1rem;
    font-weight: 500;
}

main ul {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

main ul li:first-child {
    padding-right: 2em;
    max-width: 100%
}

main ul li   {
    align-items: center;
    flex-direction: column;
}

.plan {
    color: var(--Desaturated-blue);
    
}

main .btn {
    background-color: var(--Bright-blue);
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    outline: none;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .btn:hover {
    background-color: hsl(245, 70%, 61%);
}

.attribution { 
    font-size: 14px;
    text-align: center;
 }
    
.attribution a {
     color: hsl(228, 45%, 44%); 
    }