/*importing the font in 3 diff sizes from google font*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*inserting background colors in a root so its easy to access later on */
:root { 
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);

--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/*changing the background color, font and layout of the whole page*/
body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    background-color: var(--Pale-blue);

    display: grid;
    place-items: center;

    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;

    min-height: calc(100vh - 0.1px);
    margin: 0 1.5rem;
}

main {
    max-width: 350px;
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 20px 30px -8px hsl(223, 31%, 52%);
    font-size: 16px;
}

main article img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

main article:last-child {
    padding: 1.5rem;
    margin-top: -1rem;
    text-align: center;
}

main h1 {
    color: var(--Dark-blue);
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main p {
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    color: var(--Desaturated-blue);
    margin-bottom: 1rem;
}

.plan {
    background-color: hsl(245, 70%, 61%, 4%);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem ;  
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.plan .plan-description  {
    line-height: 28px;
    margin-right: 1rem;
    margin-left: -4rem;
    margin-top: 1rem;
}

.plan .plan-type {
    color: var(--Dark-blue);
}

.plan .plan-cost {
    font-size: 16px;
}

.plan img {
    padding-right: 0.5rem;
    max-width: 20%;

}

.plan .link-change {
    color: var(--Bright-blue);
    cursor: pointer;
    font-weight: 700;
    font-size: 0.8rem;
}

.plan .link-change:hover{
    color: hsl(245, 70%, 61%);
    text-decoration: none;
}

main .btn {
    background-color: var(--Bright-blue);
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    outline: none;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .btn:hover {
    background-color: hsl(245, 70%, 61%);
    opacity:0.8 ;
}

main .btn-close {
    background-color: white;
    color: var(--Dark-blue);
    font-weight: 700;
    font-size: .8rem;
    border:none;
    outline: none;
    cursor: pointer;
    width: 100%;
}

main .btn-close:hover{
    color: hsl(223, 34%, 53%);
}

.attribution { 
    font-size: 14px;
    text-align: center;
 }
    
.attribution a {
     color: hsl(228, 45%, 44%); 
    }